<?php


// Load the viabill epay standard object
//
$standard = Mage::getModel('payepay/standard');
?>
<?php echo $standard->getConfigData('title'); ?>
<br />
<?php 
$orderID = Mage::app()->getRequest()->getParam('order_id');
$order = Mage::getModel('sales/order');
$order->load($orderID);
$OrderId = $order->getIncrementId();

$read = Mage::getSingleton('core/resource')->getConnection('core_read');
$row = $read->fetchRow("select * from viabillepay_order_status where orderid = '" . $OrderId . "'");
		
if($row["status"] == '1')
{
	echo $row['tid'] . "<br />";
	echo $standard->calcCardtype($row['cardid']) ." ". $row['cardnopostfix'] . "<br />";
}
else
{
	if(isset($_GET["txnid"]))
	{
		echo $_GET['txnid'] . "<br />";
		echo $standard->calcCardtype($_GET['paymenttype']) ." ". $_GET['cardno'] . "<br />";
	}
}

?>

