    
<style>
    
    .vb-payment-text {

    }
    .default{
        float:left;
        margin-left: 5px;
    }
    .defaultclass {
        margin-left: 65px;margin-top: -21px;
    }
    .defaulticon {
        float:left; padding-left: 202px; margin-top:-30px;
    }
    .cleardefault{
         margin-left: 18px; margin-top:-27px
    }
    .cleardefaulticon {
        float:left; padding-left: 221px; margin-top:-35px;
    }
    .noiconclass{

         margin-left: 19px;
         margin-top: -17px;
    }
</style>

<?php
$version = Mage::getVersionInfo(); 
//print_r($version);
$versioninfo = $version['major'].".".$version['minor'];
//echo $versioninfo;
if($versioninfo>1.7){
    $class = 'default';
    $iconclass = '';
}
else{
    $class = 'defaultclass';
    $iconclass = 'noiconclass';
}



$standard = Mage::getModel('payepay/standard');
$merchantnumber = $standard->getConfigData('merchantnumber', $order ? $order->getStoreId() : null);
$desc = Mage::getStoreConfig('payment/payepay_standard/description');
$title = Mage::getStoreConfig('payment/payepay_standard/title');
$grandTotal = $this->helper('checkout/cart')->getQuote()->getGrandTotal();

 $pricetag = Mage::getStoreConfig('payment/payepay_standard/viabillpricetag');

?>
<fieldset class="form-list">
    <?php $_code=$this->getMethodCode() ?>
    <ul id="payment_form_<?php echo $_code; ?>" style="display:none">
        <li>         
              <script type="text/javascript" >
              
                var grandTotal = "<?php echo $this->helper('checkout/cart')->getQuote()->getGrandTotal(); ?>";
                var showIcon = "<?php  echo $this->isShowIcon(); ?>";
                
             
                
                var imgURL = "<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . "viabill/viabill.png" ?>";


                       var label = $('p_method_payepay_standard').up('dt').down('label');
                        

                        
                        if(showIcon=='1'){


                            label.innerHTML = '<img style="width:40px" alt="viabill" src="'+imgURL+'"/><div id="defaulttext" class="<?php echo $class;?>"><div class="ViaBill_pricetag_payment" style="display:inline-flex;" price="' + grandTotal + '" >'+ label.innerHTML+'</div></div>';

                         
                        }
                        else{

                                label.innerHTML = '<div id="defaulttext" class="<?php echo $iconclass;?>"><div class="ViaBill_pricetag_payment" style="display:inline-flex;" price="' + grandTotal + '" >'+ label.innerHTML+'</div></div>';
                        }
                    

                        //label.innerHTML +='</div>';
                
              
            </script>

                <div>
                    
                    <div style="float: left; margin-left: 10px; padding-top: 4px; width: 660px;">
                    <?php if (Mage::getStoreConfig('payment/payepay_standard/description')) { echo Mage::getStoreConfig('payment/payepay_standard/description');} ?></div>
                    
                </div>

        </li>
    </ul>
</fieldset>
<?php if(!empty($pricetag) ) { ?>
<script type="text/javascript">
    <?php echo  $pricetag; ?>
   var pricevb =  "<?php echo $this->helper('checkout/cart')->getQuote()->getGrandTotal(); ?>";
     setTimeout(function(){
                         if(vb.isLow(pricevb) || vb.isHigh(pricevb)){
                         }
                         else{

                            jQuery("#defaulttext").html("<?php echo $title;?>") ;
                            }
                         
                         }, 100);

</script>
<?php }?>